#anrede
{
  margin-right: 185px;


}
#anfang 
{
  margin-right: 185px;   
    
}
#nachname
{
  margin-right: 140px;


}

#vorname
{
  margin-right: 150px;


}
#email
{
  margin-right: 110px;


}
#anliegen
{
  margin-right: 150px;

}

#telefon
{
  margin-right: 160px;


}



#eingabe
{
  margin-right: 20px;
  margin-bottom: 10px;

}

#all
{
 background-color: #577dac;
}