
#form {
    padding-top: 5px;
    height: 580px;
    max-width: 500px;
    margin: 0px auto;
    margin-top: 100px;
    padding-left: 15px;
}

h2{
    text-align: center;
}

.blockLook
{
    background-color: #83abdb;
    border-radius: 15px;
    box-shadow: 10px 10px 5px gray;/*gray*/
   
    
}

body
{
position: relative;
max-width: 1200px;
margin: 0 auto; 
font-family: Arial;
background-image: linear-gradient(to right, #ADD8E6 , white, white, white, #ADD8E6);

}

*{
color: #000000;

}
a 
{

text-decoration: none;
}
a:visited
{
color: black;
}

header
{
background-color: #83abdb;
height: 150px;
border: black solid;
border: hidden;
padding-top: 1px;
height: 170px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
box-shadow: 10px 10px 5px gray; 
min-width: 600px;
}
img
{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    
}



@media screen and (max-width: 700px)
    
{
    .img{
        display: none;
}
}


#header
{
    text-align: center;
    
}


h1
{

    padding: 25px 0;
}


header nav
{
    text-align: center;
}


main nav
{
    width: 300px;
    text-align: center;
}


.menu a
{
    color: black;
    margin-left: 50px;
    
}


.menu a:last-of-type
{
    margin-right: 50px;
}

        
        

        #form{
            padding-top: 5px;
            height: 555px;
            max-width: 500px;
            margin: 0px auto;
            margin-top: 100px;
            padding-left: 15px;
        }

        label{
            display: inline-block;
            width: calc(50% - 111px);
            margin-left: 100px;
        }

        label[for=female], label[for=male]{
            width: 45px;
            margin-left: 0px;
            padding: 15px;
        }   

        div#buttons input{
            display: inline;
            width: 145px;
            margin: 0 calc( 25% - 75px );
          
        }


       /*START Footer*/
footer{
    background: #000;
    margin-top: 100px;
    text-align: center;
}
#text{
    padding-bottom: 5px;
    padding-top: 1px ;
}
        
        /*END Footer*/

        @media only screen and ( min-width: 374px) and (max-width: 700px)
        {

            header a{
                font-size: 120%;
            }
            
            #form {
                padding-top: 5px;
                height: 600px;
                width: 500px;
                max-width: 500px;
                margin-left: 50px;
                margin-top: 100px;
                
        }

        label{
            font-size: 120%;
        }

        .blockLook{
            margin-top: 50%;
            width: 160%;
            }
            
            #text{
                font-size: 150%;
            }

            a{
                font-size: 20px;
            }
        
            div#buttons input {
                display: inline;
                width: 145px;
                margin: 0 calc( 25% - 75px );
                font-size: 100%;
            }
    }

<<<<<<< HEAD
    @media only screen and ( min-width: 819px) and (max-width: 1000px) 
=======
     @media only screen and ( min-width: 819px) and (max-width: 1000px) 
>>>>>>> 31c8c2743dc30928a815a255b0bfa9c7e7b40aae
    {

        .menu a {
            color: black;
            margin-left: 50px;
            font-size: 130%;
        }
        
        footer
        {
            background: #000;
        margin-top: 209px;
        text-align: center;
        }
<<<<<<< HEAD

=======
>>>>>>> 31c8c2743dc30928a815a255b0bfa9c7e7b40aae
        #text {
            padding-bottom: 5px;
            padding-top: 1px;
            font-size: 150%;
        }

<<<<<<< HEAD
        h2{
            text-align: center;
        }
    }
    
=======
        
    }
>>>>>>> 31c8c2743dc30928a815a255b0bfa9c7e7b40aae
