 /*START Header */
 .blockLook
        {
            background-color: #83abdb;
            border-radius: 15px;
            box-shadow: 10px 10px 5px gray;/*gray*/
            margin-top: 50px;
            
        }

body
{
     position: relative;
     max-width: 1200px;
     margin: 0 auto; 
     font-family: Arial;
    background-image: linear-gradient(to right, #ADD8E6 , white, white, white, #ADD8E6);

}

*{
    color: #000000;
    
}
a 
{
 
     text-decoration: none;
}
a:visited
{
    color: black;
}

header
{
    background-color: #83abdb;
    height: 150px;
    border: black solid;
    border: hidden;
    padding-top: 1px;
    height: 170px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 10px 10px 5px gray; 
    min-width: 600px;
}
img
{
            position: absolute;
            width: 150px;
            height: 150px;
            margin-left: 30px;
            
}
        
        
        @media screen and (max-width: 700px)
            
        {
            .img{
                display: none;
        }
        }
        
        
        #header
        {
            text-align: center;
            
        }
        
        
        h1
        {
    
            padding: 25px 0;
        }
        
        
        header nav
        {
            text-align: center;
        }
        
        
        main nav
        {
            width: 300px;
            text-align: center;
        }
        
        
        .menu a
        {
            color: black;
            margin-left: 50px;
            
        }
        
        
        .menu a:last-of-type
        {
            margin-right: 50px;
        }
/*END Header */


@media screen and (max-width: 530px)
{
    .box1 ,.box2 {
        margin: 0 auto;
        
    }
}


.box1{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;

}

iframe{
    display: block;
    margin: 0 auto;
    border-radius: 15px;

}


@media screen and (min-width: 530px)
{
    .box1 ,.box2 {
        width: 50%; 
        
    }
    
    .box2
    {
        margin-left: 50%;
    }
    .box1{
        
        position: absolute;
    }
}
    
.Ubutton
{
    border: solid black thin;
    padding: 8px;
    border-radius: 20%;
    font-size: large;
    
}

a 
{
 
     text-decoration: none;
}
a:visited
{
    color: black;
}


/*START Footer*/
footer{
    background: #000;
    margin-top: 370px;
    text-align: center;
}
#text{
    padding-bottom: 5px;
    padding-top: 1px ;
}
/*END Footer*/
