/*START Header */
.blockLook {
    background-color: #83abdb;
    border-radius: 15px;
    box-shadow: 10px 10px 5px gray;
    /*gray*/
    

}

body {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial;
    background-image: linear-gradient(to right, #ADD8E6, white, white, white, #ADD8E6);

}

* {
    color: #000000;

}

a {

    text-decoration: none;
}

a:visited {
    color: black;
}

header {
    background-color: #83abdb;
    height: 150px;
    border: black solid;
    border: hidden;
    padding-top: 1px;
    height: 170px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 10px 10px 5px gray;
    min-width: 600px;
}

img {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 30px;

}


   




#header {
    text-align: center;

}


h1 {

    padding: 25px 0;
}


header nav {
    text-align: center;
}


main nav {
    width: 300px;
    text-align: center;
}


.menu a {
    color: black;
    margin-left: 50px;

}


.menu a:last-of-type {
    margin-right: 50px;
}

/*END Header */
/*Begrüßung*/
#Begrüßung {
    position: absolute;
    width: 400px;
}

#KlavierKreis {
    margin-top: 16px;
    margin-left: 420px;
    position: absolute;
    width: 400px;
    height: 250px;
}

#Information {
    margin-top: 11px;
    margin-left: 840px;
    position: absolute;
    width: 300px;
}




/*zeiten*/
h4 {
    margin: 5px 0;
}

li {
    list-style: none;
}



main {
    margin-top: 50px;
}

/*START Footer*/
footer {
    background: #000;
    margin-top: 400px;
    text-align: center;
}

#text {
    padding-bottom: 5px;
    padding-top: 1px;
}


/*END Footer*/




img {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 30px;

}


@media only screen and ( min-width: 374px) and (max-width: 800px) 
{
    
    body {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        font-family: Arial;
        background-image: linear-gradient(to right, #ADD8E6, white,);
    
    }
    
header {
    min-width: 1168px;
    height: 230px;
   
}

header nav
{
    font-size: 300%;
}
h1{
    font-size: 300%;
}



#KlavierKreis{
    margin-top: 1004px;
    width: 250%;
    height: 24%;
    margin-left: 30%;
}



#Begrüßung{
    font-size: 250%;
    margin-left: 50%;
    width: 230%;
    text-align: inherit;
}

#Information
{
    font-size: 250%;
    margin-top: 160%;
    width: 200%;
    margin-left: 50%;
    text-align: center;
    ;
   
}

.blockLook{
margin-top: 420%;
width: 310%;
}

#text{
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
>>>>>>> 31c8c2743dc30928a815a255b0bfa9c7e7b40aae
    font-size: 250%;
}
}

@media only screen and ( min-width: 819px) and (max-width: 1000px) 
{
    header {
        min-width: 2555px;
        height: 350px;
       
    }
    
    header nav
    {
        font-size: 500%;
    }
    h1{
        font-size: 500%;
    }
    
    img {
        position: absolute;
        width: 300px;
        height: 300px;
        margin-left: 30px;
    }
    
    #KlavierKreis{
        margin-top: 250%;
        width: 250%;
        height: 24%;
        margin-left: 30%
    }
    
    
    
    #Begrüßung{
        font-size: 500%;
        margin-left: 40%;
        width: 150%;
        text-align: inherit;
    }
    
    #Information
    {
        font-size: 500%;
        margin-top: 30%;
        width: 80%;
        margin-left: 200%;
        
        text-align: inherit;
    }
    
    .blockLook{
    margin-top: 420%;
    width: 310%;
    }
    
    #text{
        font-size: 500%;
    }
<<<<<<< HEAD
=======
=======
    font-size: 200%;

}

<<<<<<< Updated upstream
>>>>>>> Stashed changes
>>>>>>> 31c8c2743dc30928a815a255b0bfa9c7e7b40aae
=======
>>>>>>> Stashed changes
}